<div class="container">
  <h1>Settings</h1>
  <p>Control the mining difficulty and its reward manually.</p>

  <br>

  <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <input type="number" class="form-control" id="difficulty" aria-describedby="difficultyHelp" [(ngModel)]="blockchain.difficulty">
    <small id="difficultyHelp" class="form-text text-muted">
    	Difficulty controls how long the mining process takes. Higher numbers will make mining a lot slower!
    </small>
  </div>

  <br>

  <div class="form-group">
    <label for="miningReward">Mining reward</label>
    <input type="number" class="form-control" id="miningReward" aria-describedby="miningRewardHelp" [(ngModel)]="blockchain.miningReward">
  </div>

</div>
